*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Arial, sans-serif ;
}
/* <!-- header1 --> */
#header1{
    background-color: #82AE46;
    width: 100%;
    height: 30px;
    font-family: Poppins, Arial, sans-serif ;
}
#in-hed1{
    width: 80%;
    height: inherit;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 14px;
    align-items: center;
    cursor: pointer;
}
/* <!-- header1 --> */


/* header-2 */
#header-2{
    width: 100%;
    height: 60px;
    background-color: #fff;
    /* border: 1px solid black; */
}
#in-hed-2{
    width: 80%;
    height: inherit;
    /* border: 1px solid black; */
    margin: auto;
}
/* header-2 */


/* header-img */

.img12{
    width: 100%;
    height: 300px;
    /* border: 1px solid black; */
    position: relative;
  }
  .img12 img{
      width: 100%;
      height:300px;
  }
  .img12 #img-txt{
      position: absolute;
      top: 30%;
      color: #fff;
      left: 45%;
      text-align: center;
  }
  /* header-img */



/* navbar */
#navibar ul {
    display: flex;
    width: 40%;
    justify-content: space-between;
    height: 50px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 100px;
}
#navibar ul li{
    list-style: none;
}
#navibar ul li a{
    text-decoration: none;
    color: #82AE46;
    font-weight: 500;
    font-size: 18px;
    align-items: center;
}
#navibar ul li  #all{
    background-color: #82AE46;
    color: #fff;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}

/* navbar */



/* product */
#product{
    width: 80%;
    height: 1200px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 30px;
}
#product h6{
    margin-top: 30px;
    color: #82AE46;
    text-align: center;
}
#product h2{
    color:rgba(23, 23, 23, 0.921);
    text-align: center;
    font-weight: bold;
}
#product p{
    color: grey;
    text-align: center;
}
#pro-div{
    display: flex;
    flex-wrap: wrap;justify-content: space-between;
}
#pro1{
    width: 250px;
    height: 300px;
    border: 1px solid rgb(220, 218, 218);
    overflow: hidden;
    margin-top: 30px;
    cursor: pointer;
}
#pro1 img{
    width: 230px;
    height: 200px;
    transition: 1s;
}
#pro1 img:hover{
    transform: scale(1.1);
}
#pro12{
    width: 250px;
    height: 300px;
    border: 1px solid rgb(220, 218, 218);
    overflow: hidden;
    margin-top: 30px;
    position: relative;
    cursor: pointer;
}
#pro12 h5{
    background-color: #82AE46;
    color: #fff;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
}
#pro12 img{
    width: 230px;
    height: 200px;
    transition: 1s;
}
#pro12 img:hover{
    transform: scale(1.1);
}
/* product */

#pagination{
    margin-top: 80px;
    margin-left: 460px;
}

/* footer1 */
#ft1{
    width: 100%;
    height: 150px;
    background-color: #eee ;
    display: flex;
    justify-content: space-evenly;
}
#fta{
    margin-top: 50px;
}
#fta h5{
    font-size: 25px;
}
#fta p{
    color: grey;
}
#ftb{
    margin-top: 50px;
}
#ftb input{
    width: 350px;
    height: 40px;
    border: 1px solid white;
}
#ftb a{
    background-color: #82AE46;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}
/* footer1 */



/* footer2 */
#footer{
    width: 80%;
    height: 350px;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#footer h5{
    margin-bottom: 30px;
    color: black;
}
#fo1{
    margin-top: 70px;
    flex-basis: 20%;
}
#fo1 p{
    color: #3a3939;
    font-size: 15px;
}
#fo1 i{
    padding: 5px;
    font-size: 20px;
}
#fo2{
    margin-top: 70px;
    flex-basis: 10%;
}
#fo2 li{
    list-style: none;
    color: #3a3939;
    padding: 5px;
    cursor: pointer;
}
#fo3{
    margin-top: 70px;
    flex-basis: 25%;
}
#fo3 li{
    list-style: none;
    color: #3a3939;
    padding: 5px;
    cursor: pointer;
}
#fo4{
    margin-top: 70px;
    flex-basis: 20%;
}
/* footer2 */





@media (max-width:575px){
    #in-hed1{
      flex-direction: column;
    }
    #header1{
      height: 80px;
    }
    #footer{
        flex-direction: column;
    }
    #ft1{
        flex-direction: column;
        height: 250px;
        margin-top: 3000px;
    }
    #pagination{
        margin-left: 40px;
    }
    #navibar ul{
        width: 60%;
    }
    
}
@media (min-width:576px) and (max-width:768px){
    #in-hed1{
     flex-direction: column;
   }
   #header1{
     height: 80px;
   }
   #footer{
    flex-direction: column;
}
#ft1{
    flex-direction: column;
    height: 250px;
    margin-top: 1000px;
    
}
#fta h5{
    text-align: center;
}
#fta p{
    text-align: center;
}
#ftb input{
    margin-left: 180px;
}
#pagination{
        margin-left: 220px;
    }
    #navibar ul{
        width: 60%;
    }

}
@media (min-width:769px) and (max-width:992px){
    #footer{
        width: 100%;
    }
    #ft1{
        margin-top: 300px;
    }
    #pagination{
        margin-left: 300px;
    }

}
@media (min-width:993px) and (max-width:1200px){
    #ft1{
        margin-top: 300px;
    }
    #pagination{
        margin-left: 380px;
    }
}